@model TempConsELearning.Models.Student

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_MaterialiseLayout.cshtml";
}



<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="~/scripts/jquery-1.10.2.js"></script>
<link href="~/Content/MaterialiseCss/materialize.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/MaterialiseCss/materialize.js"></script>
<script src="~/Content/MaterialiseCss/materialize.min.js"></script>
@using (Html.BeginForm("SignUp", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="color:red;"> @ViewBag.val</h4>
        <h2 style="color:red;  font-style:italic; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align:center;">Instructor SignUp Form</h2>
        <hr />
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="margin-left:4px; margin-right:7px;">
            <div class="input-field col s6" style="font:#31DFEB;">
                <i class="small material-icons prefix">account_circle</i>
                <input id="StudentName" name="StudentName" type="text" class="validate">
                <label for="StudentName" style="font:#31DFEB;">Full Name</label>
            </div>
            <div class="input-field col s6">

                <i class="small material-icons prefix">account_balance</i>
                <input id="Profession" name="Profession" type="text" class="validate">
                <label for="Profession">Profession</label>
            </div>
            <div class="input-field col s12">
                <i class="small material-icons prefix">mode_edit</i>
                <input id="Biography" name="Biography" type="text" data-length="10">
                <label for="Biography">Tell Us About Yourself</label>
            </div>
            <div class="row">

                <div class="col s12">
                    @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <input type="file" id="ImageFile" name="ImageFile" class="file-path validate" required />

                </div>
            </div>
            <div class="row">
                <div class="col-s12">

                    <i class="small material-icons prefix">assessment</i>
                    <input id="Password" name="Password" type="password" class="validate">
                    <label for="Password">Password</label>

                </div>
            </div>
                        <br />
            <div class="form-group">
                <div class="col s10">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" style="text-align:center;" value="SignUp" class="waves-effect waves-light btn" />
                </div>
            </div>
            <br />
        </div>
    </div>
}


